<%= form_with url: "/confirm", method: :post, class: "form-style-6" do |form| %>

	<% if !flash.empty? %>
			<div id="flash"> 
					<% flash.keys.each do |k| %> 
							<div class="<%= k %>">
									<%= flash[k] %>
							</div>  
					<% end %>   
			</div>
	<% end %>
	<p> YOUR CHOSEN NUMBER WILL APPEAR ON THE STICKER </p>
	</p>
	</p>

	<div>
		<%= image_tag('/white.jpeg', :class => "style_image") %>
		</p>
		</p>
		<%= form.label :White, style: "display: block", :value => "white" %>
		<%= form.radio_button :color, "white", checked: "checked" %>
	</div>
</p>
	</p>
	<% if session[:additional_sticker] %>
		<div>
			<p> You are requesting an additional sticker. Please pay 200 to Till number 8140886: JAMES WACHIRA and enter your confirmation code below" </p>
			<%= form.label :Code, style: "display: block", :value => "white" %>
			<%= form.text_field :code, required: true %>
		</div>
	<% end %>

	</p>
	</p>
	<div>
		<p style="color: #ffa500;background: #fff;font-size: larger;" > WARNING: This will finalize your sticker request </p>
		<%= form.submit "Confirm Sticker"%>
	</div>
<% end %>
