

    <% if session[:additional_sticker] %>
        <%= form_with url: "/get_number", method: :post, class: "form-style-6" do |form| %>

        <% if !flash.empty? %>
                <div id="flash"> 
                        <% flash.keys.each do |k| %> 
                                <div class="<%= k %>">
                                        <%= flash[k] %>
                                </div>  
                        <% end %>   
                </div>
        <% end %>
        <p> You ordered a sticker with the number <strong><%= session[:member_number] %></strong> on <em><%= session[:sticker_created] %></em> </p>

        
        <%= form.hidden_field :number, { value: session[:member_number] } %>
        <p>Click below to order an extra sticker!</p>
        <div>
            <%= form.submit "Order extra sticker" %>
        </div>
        <% end %>
    
    <% else %>
      <%= form_with url: "/get_number", method: :post, class: "form-style-6" do |form| %>
        <% if !flash.empty? %>
                <div id="flash"> 
                        <% flash.keys.each do |k| %> 
                                <div class="<%= k %>">
                                        <%= flash[k] %>
                                </div>  
                        <% end %>   
                </div>
        <% end %>
        <p> Choose your sticker number (1-1000) </p>
        <p> You can also choose your plate number i.e if you have KCD 123L, you can choose 123 </p>
        
        <div>
            <%= form.label :number, style: "display: block" %>
            <%= form.text_field :number, required: true %>
        </div>

        <div>
            <%= form.submit "Check Number"%>
        </div>

        <p> TAKEN NUMBERS </p>
        <div class="sticker-container">
            <%# display sticker records that have not been discarded. %>
            <% if Sticker.kept.count > 0 %>
                <% Sticker.kept.pluck(:sticker_number).each_slice((Sticker.kept.count / 3.0).ceil).to_a.each do |column| %>
                        <div class="sticker-column">
                                <% column.each do |number| %>
                                <div class="sticker-row">
                                <div class="sticker-number"><%= number %></div>
                                </div>
                                <% end %>
                        </div>
                <% end %>
            <% else %>
                <p>No numbers found.</p>
            <% end %>
        </div>

      <% end %>
    <% end %>

