

    <% if session[:additional_sticker] %>
        <%= form_with url: "/get_number", method: :post, class: "form-style-6" do |form| %>

        <% if !flash.empty? %>
                <div id="flash"> 
                        <% flash.keys.each do |k| %> 
                                <div class="<%= k %>">
                                        <%= flash[k] %>
                                </div>  
                        <% end %>   
                </div>
        <% end %>
        <p> You are about to order a new sticker with the number <%= session[:member_number] %> </p>

        
        <%= form.hidden_field :number, { value: session[:member_number] } %>
        <div>
            <%= form.submit "Order new sticker" %>
        </div>
        <% end %>
    
    <% else %>
      <%= form_with url: "/get_number", method: :post, class: "form-style-6" do |form| %>
        <% if !flash.empty? %>
                <div id="flash"> 
                        <% flash.keys.each do |k| %> 
                                <div class="<%= k %>">
                                        <%= flash[k] %>
                                </div>  
                        <% end %>   
                </div>
        <% end %>
        <p> Choose your sticker number (1-1000) </p>
        <p> You can also choose your plate number i.e if you have KCD 123L, you can choose 123 </p>
        
        <div>
            <%= form.label :number, style: "display: block" %>
            <%= form.text_field :number, required: true %>
        </div>

        <div>
            <%= form.submit "Check Number"%>
        </div>

        <p> TAKEN NUMBERS </p>

        <% Sticker.all.pluck(:sticker_number).each do |number|%>
            <p> <%= number %> </p>
        <% end %>
      <% end %>
    <% end %>

