<div id="<%= dom_id member %>">
  <p>
    <strong>Registered time:</strong>
    <%= member.registered_time %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Car registration:</strong>
    <%= member.car_registration %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= member.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= member.model %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= member.dob %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= member.phone_number %>
  </p>

  <p>
    <strong>Payment code:</strong>
    <%= member.payment_code %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Emergency contact:</strong>
    <%= member.emergency_contact %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= member.amount_paid %>
  </p>

</div>
